<h2>{{title}}</h2>

<p>Hello,</p>

<p>You requested to log in to your {{appName}} account. Please use the following One-Time Password (OTP) to complete your login:</p>

<div class="otp-code">{{otp}}</div>

<p>This OTP will expire in {{expiryMinutes}} minutes for security reasons.</p>

<p>If you didn't request this login, please ignore this email. Your account remains secure.</p>

<p>Best regards,<br>
The {{appName}} Team</p>